@model OnlineApp.ModelData.TransactionVM

@{
    ViewBag.Title = "Received";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Purchase Received Information</h2>
@Html.AntiForgeryToken()
<div class="panel-body">
    <div class="row">
        <div class="col-md-4">
            <div>
                <label style="color:red">Work Station ID and Name :</label>
                @Html.TextBox("WarehouseID", null, htmlAttributes: new { @class = "form-control", @Value = ViewBag.WarehouseID, @readonly = "readonly" })
                @Html.TextBox("WarehouseIDLogin", null, htmlAttributes: new { @class = "form-control", @Value = ViewBag.WarehouseIDLogin, @readonly = "readonly" })
                <label style="color:red"> Reference Purchase Token No :</label>
                @Html.DropDownList("RefInvoice", null, "Select One", new { @class = "form-control" })              
                <label style="color:red"> Sphere/Non-Sphere :</label>
                @Html.DropDownList("TypeCodes", null, "Select One", new { @class = "form-control" })
                <label style="color:red"> Foreign/Local :</label>
                @Html.DropDownList("TypeCode", null, "Select One", new { @class = "form-control" })
                @*<select id="ttItemCode" class="form-control" ,style="width:150px"><option>Select One</option></select>*@
               @*<input type="hidden" id="SupplierID" name="SupplierID" value="0">*@
                @Html.Hidden("SupplierID", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.Hidden("ReqID", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.Hidden("TotQty", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
                @Html.Hidden("TotAmt", null, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })
            </div>
        </div>

        <div class="col-md-4">
            @*<label style="color:red">Delivery/Purchase :</label>
                @Html.DropDownList("TypeCode", null, "Must Select One", new { @class = "form-control" })
                <label>Supplier Name :</label>
                @Html.DropDownList("SupplierID", null, "Select a Supplier One", new { @class = "form-control" })*@
            <label>Dept Name/Customer Name :</label>
             @Html.Hidden("DeptID", null, htmlAttributes: new { @class = "form-control", @Value = ViewBag.WarehouseIDLogin, @readonly = "readonly" })
             @Html.TextBox("DeptName", null, htmlAttributes: new { @class = "form-control", @Value = ViewBag.WarehouseIDLogin, @readonly = "readonly" })
            <label>Note:</label>
            @Html.TextBox("UserNote", null, new { placeholder = "User Note Field Optional", @class = "form-control", @style = "text-align:left;color:blue;font:bold", @readonly = "readonly" })
            <label>Supplier Name:</label>
            @Html.TextBox("SupplierName", null, new { placeholder = "SupplierName Field Optional", @class = "form-control", @style = "text-align:left;color:blue;font:bold", @readonly = "readonly" })
            <label>Incoice Ref No:</label>
            @Html.TextBox("Invoice", null, new { placeholder = "Ref Invoice Field Optional", @class = "form-control", @style = "text-align:left;color:blue;font:bold" })
           
        </div>
        <div class="col-md-4">
            @*<label style="color:red">Delivery/Purchase :</label>
            @Html.DropDownList("TypeCode", null, "Must Select One", new { @class = "form-control" })
            <label>Supplier Name :</label>
            @Html.DropDownList("SupplierID", null, "Select a Supplier One", new { @class = "form-control" })*@
            <label>LC No:</label>
            @Html.TextBox("LCNo", null, new { placeholder = "LC No Field Optional", @class = "form-control", @style = "text-align:left;color:blue;font:bold" })
            <label>Indent No:</label>
            @Html.TextBox("IndentNo", null, new { placeholder = "Indent No Field Optional", @class = "form-control", @style = "text-align:left;color:blue;font:bold"})
            <label>Location:</label>
            @Html.TextBox("Location", null, new { placeholder = "Location Field Optional", @class = "form-control", @style = "text-align:left;color:blue;font:bold"})
            @*<input type="button" id="Generate" value="Barcode Generate" class="btn btn-primary btn-sm btn-block" onclick="ffnTransaction();" />*@
            <label>Remarks/Note:</label>
             @Html.TextBox("Remarks", null, new { placeholder = "Remarks Field Optional", @class = "form-control", @style = "text-align:left;color:blue;font:bold" })
        </div>
    </div>
</div>
<div class="panel-body">
    <div class="row">
        <div class="col-md-4">
            <input type="button" id="btnReset" value="Reset" class="btn btn-primary btn-sm btn-block" onclick="ReLoad()" ; />
        </div>
        <div class="col-md-4">
            <input type="button" id="create" value="Save" class="btn btn-primary btn-sm btn-block" onclick="ffnTransaction();" />
        </div>
    </div>
</div>
<div>
    <div class="row">
        <div class="col-md-6" style="margin-top:15px">
            <div>
                <h4 style="color:green">Item Information</h4>
            </div>
            <table id="recItem" class="table-responsive table-striped table-bordered">
                <tr>
                    <th>SL</th>
                    <th>Item Code</th>
                    <th>Item Description</th>
                    <th>Stock Qty</th>
                    <th>Unit Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    @*<th>&nbsp;</th>*@
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    //document.getElementById("create").disabled = true;
    $('#RefInvoice').change(function () {
        $.ajax({
            url: "@Url.Action("ShowData", "StoreTransaction")",
            data: { inWarehouseID: $('#WarehouseID').val(), inTrNo: $('#RefInvoice').val() },
        type: "GET",
        dataType: "json",
        success: function (data) {
            $.each(data, function (i, Req) {
                $("#DeptID").val(Req.DeptID);
                $("#DeptName").val(Req.DeptName);
                $("#ReqID").val(Req.ReqID);
                $("#UserNote").val(Req.UserNote); 
                $("#SupplierID").val(Req.SupplierID);
                $("#SupplierName").val(Req.NameAdd);
                var table = document.getElementById("recItem");
                var rowcount = i + 1;
                var tblRow = '<tr id="row' + rowcount + '">' +
                   '<td>' +
                       '<label id="lblID' + rowcount + '">' + rowcount + '</label>' +
               '</td>' +
               '<td><input type="text"  readonly id="tItemID' + rowcount + '" value="' + Req.ItemID + '"size ="6"' + '" style="text-align:center;"" /></td>' +
               '<td><input type="text"  readonly id="tDescription' + rowcount + '" value="' + Req.ItemName + '"size ="25" /></td>' +
               '<td><input type="text"  readonly id="tStockQuantity' + rowcount + '" value="' + Req.StockQty + '"size ="12"' + '" style="text-align:right;"" /></td>' +
               '<td><input type="text"  id="tUnitPrice' + rowcount + '" value="' + Req.UnitPrice + '"size ="12"' + '" style="text-align:right;"" /></td>' +
               '<td><input type="text"  id="tReqQuantity' + rowcount + '" value="' + Req.Quantity + '"size ="12"' + '" style="text-align:right;"" /></td>' +
                '<td><input type="text"  id="tTotAmt' + rowcount + '" value="' + Req.Quantity * Req.UnitPrice + '"size ="12"' + '" style="text-align:right;"" /></td>' +
               '</tr>'
                $("#recItem").append(tblRow);
            })
            var nth = $("table").find("tr").length;
            var Cases = parseFloat("0");
            var Boxes = parseFloat("0");
            var vprice = parseFloat("0");
            for (j = 1; j < nth; j++) {
                Cases += parseFloat($("table").find("tr").eq(j).find("td:eq(5) input[type='text']").val());               
                Boxes += parseFloat(parseFloat($("table").find("tr").eq(j).find("td:eq(4) input[type='text']").val()) * (parseFloat($("table").find("tr").eq(j).find("td:eq(5) input[type='text']").val())));
            }
            $("#TotQty").val(Cases);
            $("#TotAmt").val(Boxes);
           // console.log(data);

        },
        error: function () {
            alert("Failed! to load data for this transaction.Please Check....");
        }
    });
        document.getElementById("RefInvoice").disabled = true;
       // document.getElementById("create").disabled = false;
    });
    function ReLoad() {
        alert("Are you sure reset the page ...?")
        location.reload();
    }
    function ffnTransaction() {
        document.getElementById("create").disabled = true;
        var answer = confirm('Are you sure you want to Approved this?');
        if (answer) {
            //  return;
            //return status;
        }
        else {
            return false;
        }
        var isAllValid = true;
        var status = true;
        OrderData = [];
        var id = $('#recItem tr:last').index()
        $('#recItem tr').each(function (row, tr) {
            if ((row > 0) && (row <= id)) {
                OrderData.push({
                    ItemCode:$('#tItemID' + row).val().trim(),// $(tr).find('td:eq(1)').text(),                    
                    Qty: $('#tReqQuantity' + row).val().trim(),//$(tr).find('td:eq(5)').text(),
                    UnitPrice: $('#tUnitPrice' + row).val().trim(),// $(tr).find('td:eq(4)').text(),
                });
            }
        });

        console.log(OrderData);
        if (isAllValid) {
            var data = {
                PlantID: $('#WarehouseID').val(),
                RefOrderNo: $('#RefInvoice').val(),
                RefInvoice: $('#Invoice').val(),
                SupplierID: $('#SupplierID').val(),
                LCNo: $('#LCNo').val(),
                IndentNo: $('#IndentNo').val(),
                LocalForeign: $('#TypeCodes').val(),
                Remarks: $('#Remarks').val(),
                TotalQty: $('#TotQty').val(),
                TotalPrice: $('#TotAmt').val(),
                reqdtl: OrderData
            }
            console.log(data);
        }
       // console.log(data);


        $.ajax({
            url: '/StoreTransaction/MyTransaction',
            type: "POST",
            data: JSON.stringify(data),
            dataType: "JSON",
            contentType: "application/json",
            success: function (a) {
                //check is successfully save to database
                if (a.status == true) {
                    //will send status from server side
                    alert('Successfully Done... Requisition Received Token No:' + a.v);
                    window.location.reload();
                    OrderData = [];

                }
                else {
                    alert('Requisition Received Process is Failed!! Please Contact to IT dept.. ');
                }

            },
            error: function () {
                alert('Error. Please try again.');
            }
        });
    }
    $('#LCNo').blur(function () {
        if ($('#LCNo').val() != "") {
            var value = $('#LCNo').val().replace(/^\s\s*/, '').replace(/\s\s*$/, '');
            var intRegex = /^\d+$/;
            if (!intRegex.test(value)) {
                alert("Field must be Numeric");
                $('#LCNo').focus();
                success = false;
            }
        } else {
            alert( "Field is blank.");
            success = false;
        }
            
    })
    
    $('#Invoice').blur(function () {
        if ($('#Invoice').val() != "") {
            var value = $('#Invoice').val().replace(/^\s\s*/, '').replace(/\s\s*$/, '');
            var intRegex = /^\d+$/;
            if (!intRegex.test(value)) {
                alert("Field must be Numeric");
                $('#Invoice').focus();
                success = false;
            }
        } else {
            alert("Field is blank.");
            success = false;
        }

    })

</script>